body {
    background-color: black;
}

p {
    color: #006400;
    font-family: "monaco", monospace;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

h1 {
    color: #006400;
    font-family: "monaco", monospace;
}

div[id=SWscript] {
  background-color: white;
  height: 500px;
  width: 500px;
  font-size: 1px;
}
.button {
    background-color: #006400; 
    border: none;
    color: white;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "monaco", monospace;
    font-size: 15px;
  }

  button[id=mystery] {
    background-color: rgb(141, 0, 0); 
    border: none;
    color: rgb(148, 148, 148);
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "monaco", monospace;
    font-size: 15px;
  }

  button[id=script] {
    background-color: rgb(141, 0, 0); 
    border: none;
    color: rgb(148, 148, 148);
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "monaco", monospace;
    font-size: 15px;
  }

  .Scary{
    display: block;
  }

  input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
    background-color: black;
    color: greenyellow;
  }
  input[type=ID] {
    border: 2px solid red;
    border-radius: 4px;
    background-color: black;
    color: greenyellow;
  }
   input[type=PullID] {
    border: 2px solid red;
    border-radius: 4px;
    background-color: black;
    color: greenyellow;
  }

  label{
    background-color: black;
    color: greenyellow;
  }